<section class="two">

    <div class="containerPadding">

        <h3>Pets-R-Us wants to hear from you!</h3>

        <p>Phone: <a href="tel:+18887382887">1 (888) PET-CUTS</a></p>

        <form>
            <input type="email" placeholder="E-mail">
            <button type="button" id="emailBtn">Send</button>
        </form>

    </div>
    
    <div class="containerPadding">

        <p>IMAGES COURTESY OF UNSPLASH</p>
        
        <p>BELLEVUE UNIVERSITY - WEB DEVELOPMENT COHORT</p>

    </div>

</section>