<h1><a href="/">Pets-R-Us</a></h1>



<nav>
 

<div class="menu">
<span>Services</span>
    <div class="list">
        <a href="/boarding">Boarding</a><br>
        <a href="/grooming">Grooming Page</a><br>
        <a href="/training">Training</a>
    </div>
</div>

<div class="menu">
<span>Account</span>
<div class="list">
    <a href="/registration">Registration</a><br>
    <a href="/customer-list">Customer List</a><br>
    <a href="#">Appointment Booking</a><br>
    <a href="#">My Appointments</a>
</div>
</div>

<div class="menu">
<span>Contact</span>
<div class="list">
    <a href="#">Locations</a><br>
    <a href="#">Contact Us</a>
</div>
</div>


</nav>