<%- include("../views/_head")%>
    <body>
        <header>
<%- include("../views/_header")%>
        </header>
        




<main>

  

<article>
    
<div class="card">
<div>
<h2>Boarding</h2>
<p>As they say, it takes a village to raise a child, and that’s no different for your favorite fur-child. Your pet’s grandparents might have raised you, but that doesn’t mean they know the unique needs of your dog/cat. By bringing your pet to Pets-R-Us, you can rest assured that your cat or dog will be well taken care of by our qualified staff. Enjoy a peace of mind that we’ll not only ensure your pet’s health, but we’ll also take care of their social / physical well being too! Each pup enjoys daily activities including walking, puppy playpark time and their own private kennel to retreat to at night.</p> 
<p>We want our pet parents to know that their yuppy puppies are being taken care of, upon your arrival we’ll give you a highlight of their visit. Showcasing all their fun activities throughout their stay.</p>

</div>
</div>  
</article>

 
<section>
<aside>
            <ul>
                <li>1 dog up to 5 nights: $40/night</li>
                <li>1 dog 5 nights or over: $35/night</li>
                <br>
                <li>2 dogs up to 5 nights: $65/night</li>
                <li>2 dogs 5 nights or over: $60/night</li>
                <br>
                <li>3 dogs up to 5 nights: $90/night</li>
                <li>3 dogs 5 nights or over: $75/night</li>
            </ul>
   </aside>
   <aside>image here?</aside>
</section>






</main>

        <footer>
            <%- include("../views/_footer")%>

        </footer>




    </body>
</html>