<%- include("../views/partials/_head")%>
    <body>
        <header>
<%- include("../views/partials/_header")%>
        </header>


<main>

<article>
    <div class="card">
        <div>
    <h2>Grooming</h2>

    <p>Bring your dog in for our grooming. Our pet-loving staff will give your best friend the much-deserved tender loving care it deserves! We offer a variety of services including bathing, grooming, trimming, brushing and more. You’re welcome to bring your dog in for a stand-alone bath or have it bathed already upon pick up from your boarding with us.</p>
</div>
</div>
</article>


<section>
    <aside>
        <ul>
            <li>Spa $80 - $120</li>

            <br>
            <li>De-Shed $22</li>

            <br>
            <li>Nail Trim $14</li>

            <br>
            <li>Teeth Brushing $14</li>

        </ul>
    </aside>
    <aside>img</aside>
</section>


</main>


        


        <footer>
            <%- include("../views/partials/_footer")%>

        </footer>




    </body>
</html>