<!-- 
    Title: Assignment grooming.ejs
    Arthur: Professor Krasso
    Date: 02/19/23
    Modified By: Brooks
    Description: 
-->
<%- include("../views/partials/_head")%>
  <body>
    <header><%- include("../views/partials/_header")%></header>
    <main>
       
        <div class="card">

            <h2>Grooming</h2>

            <article class="one">

                <div class="containerPadding">

                    <p>Bring your dog in for our grooming. Our pet-loving staff will give your best friend the much-deserved tender loving care it deserves! We offer a variety of services including bathing, grooming, trimming, brushing and more. You’re welcome to bring your dog in for a stand-alone bath or have it bathed already upon pick up from your boarding with us.</p>


                </div>
            
            </article>
        </div><!-- .card -->

        <section class="one">

            <ul>
                <li>Spa $80 - $120</li>
    
                <br>
                <li>De-Shed $22</li>
    
                <br>
                <li>Nail Trim $14</li>
    
                <br>
                <li>Teeth Brushing $14</li>
    
            </ul>

        </section>        

    </main>
    <footer><%- include("../views/partials/_footer")%></footer>
  </body>
</html>