<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pets-R-Us</title>
        <link rel="stylesheet" href="stylesheets/site.css">
        <link rel="stylesheet" href="stylesheets/media.css">

        <!-- Google Fonts Oswald. -->
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1><a href="/">Pets-R-Us</a></h1>



            <nav>
                <div class="nav-menu">
                    <span>Services</span>
                        <div class="menu-items">
                            <li><a href="/grooming">Grooming Page</a></li>
                            <li>Boarding</li>
                            <li>Training</li>
                        </div><!-- *** .menu-items *** -->
                </div><!-- *** .nav-menu *** -->

                <div class="nav-menu">
                    <span>Account</span>
                        <div class="menu-items">
                            <li>Registration</li>
                            <li>Customer List</li>
                            <li>Appointment Booking</li>
                            <li>My Appointments</li>
                        </div><!-- *** .menu-items *** -->
                </div><!-- *** .nav-menu *** -->
                
                <div class="nav-menu">
                    <span>Contact</span>
                        <div class="menu-items">
                            <li>Locations</li>
                            <li>Contact Us</li>
                        </div><!-- *** .menu-items *** -->
                    </div><!-- *** .nav-menu *** -->
            </nav>
        </header>
        


        <article id="dogOfWeek">
            <h2>Dog of the Week</h2>
            
            <p>This week’s pick is the Boxer Dog!</p>

            <p>Rumor is that this dog got its name from their playstyle. 
                While playing, the boxer will often go upright on their hind legs 
                and bat at you with their front paws. This fun loving dog will 
                always be near your side as they’re very loyal companions 
                and also very protective of their families. They’re known 
                for their near limitless energy and good natures.</p>
            
            <p>Due to their short coats, most people don’t often think of 
                their boxer’s grooming needs. However, with their crinkly noses 
                they are apt to getting eye discharge into the folds. 
                Boxers also tend to be prone to ear infections too, so 
                it’s important to keep their ears clean as well. Proper 
                cleaning and grooming will ensure your pup lives a 
                long, happy, and healthy life.</p>
        </article>



        <section id="locationsHours">

            <section id="locations">
            <h2>Locations</h2>
            <address>
                <h3>Omaha</h3>
                1652019 Galvin Rd S<br>
                Bellevue, NE 68005
            </address>

            <address>
                <h3>St. Louis</h3>
                1215225 Wydown Blvd<br>
                St. Louis, MO 63105
            </address>

            <address>
                <h3>Kansas City</h3>
                3212019 Village West Pkwy<br>
                Kansas City, KS 66111
            </address>
            </section>

            <aside id="hours">
                <h2>Store Hours:</h2>
                <li>Mon 9AM - 8PM</li>
                <li>Tue 9AM - 8PM</li>
                <li>Wed 9AM - 8PM</li>
                <li>Thu 9AM - 8PM</li>
                <li>Fri 9AM - 8PM</li>
                <li>Sat 9AM - 8PM</li>
                <li>Sun 10AM - 6PM</li>
            </aside>

        </section>














        <article>
            <h2>Testimonials</h2>

            <details>
                <summary>Online_User</summary>
                <p>“The prices are also very reasonable for the quality of service.”</p>
              </details> 

              <details>
                <summary>Online_User</summary>
                <p>“I highly recommend this place for daycare, training and boarding.”</p>
              </details> 

              <details>
                <summary>Online_User</summary>
                <p>“Wonderful front desk staff and great dog handlers for our 4 fur babies!!!!”</p>
              </details> 

              <details>
                <summary>Online_User</summary>
                <p>“My dogs came home happier than any place we’ve ever boarded them!”</p>
              </details>

              <details>
                <summary>Online_User</summary>
                <p>“Super friendly staff, clean facility.”</p>
              </details> 

              <details>
                <summary>Online_User</summary>
                <p>“Absolutely love Pets-R-Us for our pups grooming.”</p>
              </details> 
              

              
        </article>





        <footer>
            <h2>Contact Us</h2>

            Phone: (888)738-2887

            <form>
                <input type="email" placeholder="E-mail">
                <button type="button" id="emailBtn">Send</button>
            </form>
            

        </footer>




    </body>
</html>