<%- include("../views/partials/_head")%>
    <body>
        <header>
<%- include("../views/partials/_header")%>
        </header>
        
<main>

        <article>
          <div class="card">
            <div>
            <h2>Dog of the Week</h2>
            
            <div class="breakup">
              <div>
            <p>This week’s pick is the Boxer Dog!</p>

            <p>Rumor is that this dog got its name from their playstyle. 
                While playing, the boxer will often go upright on their hind legs 
                and bat at you with their front paws. This fun loving dog will 
                always be near your side as they’re very loyal companions 
                and also very protective of their families. They’re known 
                for their near limitless energy and good natures.</p>
            
            <p>Due to their short coats, most people don’t often think of 
                their boxer’s grooming needs. However, with their crinkly noses 
                they are apt to getting eye discharge into the folds. 
                Boxers also tend to be prone to ear infections too, so 
                it’s important to keep their ears clean as well. Proper 
                cleaning and grooming will ensure your pup lives a 
                long, happy, and healthy life.</p>
              </div>
              
              <div>
                <!-- image source: https://unsplash.com/photos/fZFAOhWETpM -->
                <img src="/images/boxer.jpg" width="350" height="300">
              </div>
              
              </div>
              </div>
          </div>
        </article>

 




<section>

  <aside>

        <h2>Locations</h2>
        <address>
            <h3>Omaha</h3>
            1652019 Galvin Rd S<br>
            Bellevue, NE 68005
        </address>

        <address>
            <h3>St. Louis</h3>
            1215225 Wydown Blvd<br>
            St. Louis, MO 63105
        </address>

        <address>
            <h3>Kansas City</h3>
            3212019 Village West Pkwy<br>
            Kansas City, KS 66111
        </address>
  </aside>

  <aside>
        <h2>Store Hours:</h2>
        <li>Mon 9AM - 8PM</li>
        <li>Tue 9AM - 8PM</li>
        <li>Wed 9AM - 8PM</li>
        <li>Thu 9AM - 8PM</li>
        <li>Fri 9AM - 8PM</li>
        <li>Sat 9AM - 8PM</li>
        <li>Sun 10AM - 6PM</li>

  </aside>

</section>





























        <article>
          <div class="card">
            <div>
            <h2>Testimonials</h2>

            <div class="breakup">
<div>
            <details open>
                <summary>Online_User</summary>
                <p>“The prices are also very reasonable for the quality of service.”</p>
              </details> 

              <details open>
                <summary>Online_User</summary>
                <p>“I highly recommend this place for daycare, training and boarding.”</p>
              </details> 

              <details open>
                <summary>Online_User</summary>
                <p>“Wonderful front desk staff and great dog handlers for our 4 fur babies!!!!”</p>
              </details> 
</div>

<div>

              <details open>
                <summary>Online_User</summary>
                <p>“My dogs came home happier than any place we’ve ever boarded them!”</p>
              </details>

              <details open>
                <summary>Online_User</summary>
                <p>“Super friendly staff, clean facility.”</p>
              </details> 

              <details open>
                <summary>Online_User</summary>
                <p>“Absolutely love Pets-R-Us for our pups grooming.”</p>
              </details> 
              </div>
            </div><!-- *** .breakup *** -->
              
</div></div>
              
        </article>



      </main>

        <footer>
            <%- include("../views/partials/_footer")%>

        </footer>




    </body>
</html>