<%- include("../views/_head")%>
    <body>
        <header>
<%- include("../views/_header")%>
        </header>
        


  
<main>

<article>
    <div class="card">
        <div>
            <h2>Training</h2>


            <div class="breakup">
                <div><p>Looking to provide your dog with some training? Look no further. Our trainers can help you get your pup the quality training it needs. We believe in positive reinforcement and building your relationship with your dog to build mutual trust. With our trainers you’ll be able to work on basic training, obedience, fear, aggression, anxiety or any other needs that may arise.</p></div>
                <div>
                    <ul>
                        <li>three tiers of pricing for puppies</li>
            
                        <br>
                        <li>three tiers of pricing for adolescences</li>
            
                        <br>
                        <li>two tiers of pricing for adults</li>
            
                    </ul>
                </div>
            </div>
            

        </div>
    </div>
</article>


<section>
    <aside>
        <!-- image source: https://unsplash.com/photos/xvYxGcwFvuE -->
        <img src="/images/trainer.jpg" width="350" height="300">
    </aside>
    <aside>
        <h3>Meet the Trainer: Sabrina</h3>
        <p>Sabrina is our head trainer here at Pets-R-Us</p>
    </aside>
</section>




</main>



        <footer>
            <%- include("../views/_footer")%>

        </footer>




    </body>
</html>