/**
    Title: Site styling. 
    Arthur: Professor Krasso
    Date: 01/29/23
    Modified By: Brooks
    Description: Just the beginning of the styling. 
*/

/** 
      ************ ALL ************** 
*/

* {
    font-family: Oswald, Verdana, Ariel, sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

nav {
  background-color: #0cf662;
}

li {
  list-style-type: none;
}

body {
    background-color: rgba(11, 171, 212, .25);
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin-bottom: 1em;
}

.containerPadding {
  padding: 1em;
}


/** keep **/
.list {
  width: 33%;
  border-radius: 25px;
}



footer {
    bottom: 1em;
}