/**
    Title: Site styling. 
    Arthur: Professor Krasso
    Date: 01/29/23
    Modified By: Brooks
    Description: Just the beginning of the styling. 
*/

* {
    font-family: Oswald, Verdana, Ariel, sans-serif;
}

li {
  list-style-type: none;
}

body {
    background-color: #eee;
    min-height: 100vh;
    margin: 0 auto;
}

.card {
    background-color: #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.card > div {
    padding: 1em;
}

article h2 {
    text-align: center;
}





















@media only screen and (max-width: 640px) {
    article {
      width: 100%;
      margin-top: 2em;
  }

  section {
    width: 100%;
    margin-left: 30%;
  }

  .breakup {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}







  body {
    background-color: lightgreen;
  }
  }
 
 













 
  @media only screen and (min-width: 641px) {
     article {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 2em;
  }
  section {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2em;
    display: grid;
    grid-template-columns: auto auto;
  }

  .breakup {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2em;
    display: grid;
    grid-template-columns: auto auto;
}
.breakup > div {
    padding: 1em;
}








  body {
    background-color: lightcoral;
  }
  }
 
 












 
  @media only screen and (min-width: 1008px) {
    article {
        width: 80%;
  }

  section {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2em;
    display: grid;
    grid-template-columns: auto auto;
  }

  .breakup {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2em;
    display: grid;
    grid-template-columns: auto auto;
}

.breakup > div {
    padding: 1em;
}






  body {
    background-color: lightblue;
  }

  }




























footer {

    bottom: 1em;
    width:100%;
}